In [8]:
import pandas as pd

melb_df = pd.read_csv('data/melb_data_fe.csv')

melb_df.head(10)

,Suburb,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom,...,Longtitude,Regionname,Propertycount,MeanRoomsSquare,AreaRatio,MonthSale,AgeBuilding,WeekdaySale,StreetType,Weekend
0,Abbotsford,2,house,1480000.0,S,Biggin,2016-03-12,2.5,3067,2,...,144.9984,Northern Metropolitan,4019,25.200000,-0.231707,3,46,5,St,1
1,Abbotsford,2,house,1035000.0,S,Biggin,2016-04-02,2.5,3067,2,...,144.9934,Northern Metropolitan,4019,15.800000,-0.327660,4,116,5,St,1
2,Abbotsford,3,house,1465000.0,SP,Biggin,2017-04-03,2.5,3067,3,...,144.9944,Northern Metropolitan,4019,18.750000,0.056338,4,117,0,St,0
3,Abbotsford,3,house,850000.0,PI,Biggin,2017-04-03,2.5,3067,3,...,144.9969,Northern Metropolitan,4019,15.750000,0.145455,4,47,0,other,0
4,Abbotsford,4,house,1600000.0,VB,Nelson,2016-04-06,2.5,3067,3,...,144.9941,Northern Metropolitan,4019,17.750000,0.083969,4,2,2,St,0
5,Abbotsford,2,house,941000.0,S,Jellis,2016-07-05,2.5,3067,2,...,144.9953,Northern Metropolitan,4019,25.200000,-0.179153,7,46,1,St,0
6,Abbotsford,3,house,1876000.0,S,Nelson,2016-07-05,2.5,3067,4,...,144.9993,Northern Metropolitan,4019,23.333333,-0.076923,7,106,1,St,0
7,Abbotsford,2,house,1636000.0,S,Nelson,2016-08-10,2.5,3067,2,...,144.9954,Northern Metropolitan,4019,21.400000,-0.410468,8,126,2,St,0
8,Abbotsford,1,unit,300000.0,S,Biggin,2016-08-10,2.5,3067,1,...,144.9973,Northern Metropolitan,4019,42.000000,1.000000,8,46,2,St,0
9,Abbotsford,2,house,1097000.0,S,Biggin,2016-08-10,2.5,3067,3,...,144.9989,Northern Metropolitan,4019,12.500000,-0.491525,8,116,2,St,0

In [7]:
display(melb_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 26 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Suburb           13580 non-null  object
 1   Rooms            13580 non-null  int64
 2   Type             13580 non-null  object
 3   Price            13580 non-null  float64
 4   Method           13580 non-null  object
 5   SellerG          13580 non-null  object
 6   Date             13580 non-null  object
 7   Distance         13580 non-null  float64
 8   Postcode         13580 non-null  int64
 9   Bedroom          13580 non-null  int64
 10  Bathroom         13580 non-null  int64
 11  Car              13580 non-null  int64
 12  Landsize         13580 non-null  float64
 13  BuildingArea     13580 non-null  float64
 14  CouncilArea      12211 non-null  object
 15  Lattitude        13580 non-null  float64
 16  Longtitude       13580 non-null  float64
 17  Regionname       13580 non-null  object
 18  Propertycount    13580 non-null  int64
 19  MeanRoomsSquare  13580 non-null  float64
 20  AreaRatio        13580 non-null  float64
 21  MonthSale        13580 non-null  int64
 22  AgeBuilding      13580 non-null  int64
 23  WeekdaySale      13580 non-null  int64
 24  StreetType       13580 non-null  object
 25  Weekend          13580 non-null  int64
dtypes: float64(8), int64(10), object(8)
memory usage: 2.7+ MB

None

In [13]:
melb_df['Date'] = pd.to_datetime(melb_df['Date'])

melb_df['Quarter'] = melb_df['Date'].dt.quarter

melb_df['Quarter'].value_counts()

3    4873
2    4359
4    2329
1    2019
Name: Quarter, dtype: int64

In [17]:
exclude_list_category = ['Date', 'Rooms', 'Bedroom', 'Bathroom', 'Car']

max_uniq = 150

for col in melb_df.columns:
    if melb_df[col].nunique() < max_uniq and col not in exclude_list_category:
        melb_df[col] = melb_df[col].astype('category')
        
melb_df = melb_df.drop(['Quarter'], axis=1)
        
display(melb_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 26 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Suburb           13580 non-null  category
 1   Rooms            13580 non-null  int64
 2   Type             13580 non-null  category
 3   Price            13580 non-null  float64
 4   Method           13580 non-null  category
 5   SellerG          13580 non-null  category
 6   Date             13580 non-null  datetime64[ns]
 7   Distance         13580 non-null  float64
 8   Postcode         13580 non-null  int64
 9   Bedroom          13580 non-null  int64
 10  Bathroom         13580 non-null  int64
 11  Car              13580 non-null  int64
 12  Landsize         13580 non-null  float64
 13  BuildingArea     13580 non-null  float64
 14  CouncilArea      12211 non-null  category
 15  Lattitude        13580 non-null  float64
 16  Longtitude       13580 non-null  float64
 17  Regionname       13580 non-null  category
 18  Propertycount    13580 non-null  int64
 19  MeanRoomsSquare  13580 non-null  float64
 20  AreaRatio        13580 non-null  float64
 21  MonthSale        13580 non-null  category
 22  AgeBuilding      13580 non-null  int64
 23  WeekdaySale      13580 non-null  category
 24  StreetType       13580 non-null  category
 25  Weekend          13580 non-null  category
dtypes: category(10), datetime64[ns](1), float64(8), int64(7)
memory usage: 1.8 MB

None